################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Common/MedicalJournals.Data/bin/Debug/netstandard1.6
